.big-girl {
  background-color: #fbe0dc;
  width: 680px;
  height: 840px;

  margin-right: auto;
  margin-left: auto;

  padding-left: 30px;

  border-radius: 20px;

  background-image: url(../../image/girl-and-pet.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
