body {
  background-color: #f8f8f7;
  font-family: 'Jost', sans-serif;
}

.container {
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1440px) {
    width: 1440px;
  }
}
